body {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    letter-spacing: 1px;
    height: 100%;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #686868;
}
.container {
  padding-right: 0px;
  padding-left: 13px;
}
.row {
  margin-right: 0px;
}
ul.a {
list-style-type: disc;
padding-left: 7%;
text-align: left;
font-family: 'Raleway', sans-serif;
}
#portfolio-information.padding-top {
padding-top: 100px;
padding-bottom: 100px;
box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.88);
color:#686868;
}
h3{
font-weight: 400  ;
}
.resp-tab-active:before {
border-top: 10px solid #e4681f;
}
.resp-tab-active {
border-bottom: 4px solid #e4681f;
}
.caption.work-captn {
float: left;
width: 189px;
margin-left: 10px;
}
.work-row-grids h4 {
font-size: 20px;
font-weight: 400;
color: #080808;
margin: 0.5em 0 0em 0.2em;
letter-spacing: 1px;
}
.services-w3layouts{
padding: 30px 0px;
}
.btn-common {
font-size: 14px;
color: #fff;
border: none;
font-family: 'Raleway', sans-serif;
background-color: #e4681f;
font-weight: 600;
padding: 10px 25px;
}
.btn-common:hover, .btn-common:focus {
outline: none;
background: #e4681f;
box-shadow: none;
color: #fff;
border: none;
}
.live-preview .btn-common {
margin-top: 21px;
padding: 13px 30px;
}
@media (max-width: 768px){
h2.resp-tab-active {
border-bottom: 3px solid #e4681f !important;
}
}
@media (max-width: 768px){
h2.resp-tab-active span.resp-arrow {
border-bottom: 12px solid #e4681f !important;
}
h2 {
  font-size: 20px;
}
}
/*Fixing horizontal scroll*/
.footer-section .row{
margin-right: 0px;
}
