<section id="timeline">
   <div id="tl1" class="tl-item col-sm-4 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0ms">
      <div class="tl-bg" style="background-image: url(assets/bg/digitalTouch.jpg)"></div>
      <div class="tl-year tl-year1" id="tl11">
         <p class="f2 heading--sanSerif">Our Philosophy</p>
      </div>
      <div class="tl-content">
         <p><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Client First</p>
         <p><i class="fa fa-star" aria-hidden="true" style="padding-right: 0.25em;"></i>Nurturing and building sustainable relationships of mutual value</p>
      </div>
   </div>
   <div id="tl2" class="tl-item col-sm-3 wow fadeInLeft">
      <div class="tl-bg" style="background-image: url(assets/bg/probSolving.jpg)"></div>
      <div id="tl22" class="tl-year tl-year1">
         <p class="f2 heading--sanSerif">Our Partnership Models</p>
      </div>
      <div class="tl-content">
         <p>At DigiSquire, we are flexible with our partnership models and do what is necessary to execute the digital transformation programs successfully.</p>
         <a href="#partnership" class="smoth-scroll media-408 hvr-icon-wobble-horizontal read-w3ls">Learn more</a>
      </div>
   </div>
   <div id="tl3" class="tl-item col-sm-4 wow fadeInRight">
      <div  class="tl-bg" style="background-image: url(assets/bg/team.jpg)"></div>
      <div id="tl33" class="tl-year tl-year1">
         <p href="" class="smoth-scroll f2 heading--sanSerif">Team</p>
      </div>
      <div class="tl-content">
         <p>Team at DigiSquire come with a wealth of experience of understanding customers needs and providing solutions that will benefit their business.</p>
         <a href="#our-team" class="smoth-scroll media-408 hvr-icon-wobble-horizontal read-w3ls">Learn more</a>
      </div>
   </div>
   <div id="tl4" class="tl-item col-sm-4 wow fadeInRight">
      <div class="tl-bg" style="background-image: url(assets/bg/valuesNTeam.jpg)"></div>
      <div id="tl44" class="tl-year tl-year1">
         <p class="f2 heading--sanSerif">Values</p>
      </div>
      <div class="tl-content">
         <p>At DigiSquire, our values help our employees and customers to define who we are.</p>
         <a href="#services" class="smoth-scroll media-408 hvr-icon-wobble-horizontal read-w3ls">Learn more</a>
      </div>
   </div>
</section>
<!-- timeline ends -->
<section id="partnership" style="padding-top:100px;">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="section-title">
               <h2>Our Partnership Models</h2>
            </div>
         </div>
      </div>
      <div class="row" style="margin-bottom: 4em;">
         <div class=" panel-text col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="col-xs-12">
               <img class="img-responsive" src="assets\bg\inhouse.png" alt="In-House Partnership model of DigiSquire" style="margin: auto;">
            </div>
         </div>
         <div class=" col-sm-6 wow fadeInDown" data-wow-duration="400ms" data-wow-delay="100ms">
            <div class="col-xs-12">
               <img class="img-responsive" src="assets\bg\ds.png" alt="Our value proposition for your digital transformation" style="margin: auto;">
            </div>
         </div>
         <div class=" col-sm-3 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="col-xs-12">
               <img class="img-responsive" src="assets\bg\outsource.png" alt="Outsourcing partnership model of DigiSquire" style="margin: auto;padding: 1em 0;">
            </div>
         </div>
      </div>
   </div>
</section>
<!-- team begins -->
<section id="our-team" style="padding-top:45px;">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="section-title">
               <h2>Our Team</h2>
            </div>
         </div>
      </div>
      <div class="row" style="margin-bottom: 4em;">
         <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
            <article class="team-mate">
               <div class="member-photo">
                  <img style="border-radius: 10%;width: 242px;height: 215px;" class="img-responsive" src="assets/clients/aloknair.jpg" alt="Alok Nair Founder Digisquire:aloknair@digisquire.co">
               </div>
            </article>
         </div>
         <div class=" panel-text col-sm-7 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2 style="font-family: 'orbitron',sans-serif;font-size: 2em;color:#333;">Alok Nair <span class="linked-in"><a target="_blank" href="https://www.linkedin.com/in/alok-nair-b774b135/"><i class="fa fa-linkedin"></i></a></span></h2>
            <p style="font-family: 'orbitron',sans-serif;font-size: 1.1em;">Founder, CEO</p>
            <P style="font-family: 'Raleway',sans-serif;text-align:justify;">Alok has 14 years of extensive experience in the IT industry having executed
               complex projects and built large teams ground up. Having worked in an Agile
               environment, he thoroughly understands the digital landscape and has a strong
               focus on helping customers succeed.
            </P>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
            <article class="team-mate">
               <div class="member-photo">
                  <img style="border-radius: 10%;width: 242px;height: 215px;"  class="img-responsive" src="assets/clients/gauravChattur.jpg" alt="Gaurav Chattur Advisor &#38; Mentor for Digisquire">
               </div>
            </article>
         </div>
         <div class=" panel-text col-sm-7 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2 style="font-family: 'orbitron',sans-serif;font-size: 2em;color:#333;">Gaurav Chattur <span class="linked-in"><a target="_blank" href="https://www.linkedin.com/in/gauravchattur"><i class="fa fa-linkedin"></i></a></span></h2>
            <p style="font-family: 'orbitron',sans-serif;font-size: 1.1em;">Advisor, Mentor</p>
            <P style="font-family: 'Raleway',sans-serif;text-align:justify;">Gaurav is currently the MD (Asia-Pacific) of Catenon Worldwide, an Executive
               Search firm. An ISB grad, Gaurav brings with him an in depth understanding of
               business strategy, customer behaviour and management expertise.
            </P>
         </div>
      </div>
   </div>
</section>
<!-- Client Services -->

<section id="clients-logo-section">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="section-title">
               <h2>Our Capabilities</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="block">
               <div class="owl-carousel">
                  <div class="clients-logo-img angular">
                     <!-- <img class="angular" alt="We Master In Angular" src="angular"style="width: 130px;height: 125px;"> -->
                  </div>
                  <div class="clients-logo-img HTML5" title="We Master In HTML5">
                     <!-- <img src="assets\bg\HTML5.png" alt="We Master In HTML5" style="width: 125px;height: 108px;"> -->
                  </div>
                  <div class="clients-logo-img bootstrap1" style="left:11%;" title="We Master In Bootstrap Framework">
                     <!-- <img src="assets\bg\bootstrap1.png" alt="We Master In Bootstrap Framework"style="width: 215px;height: 119px;"> -->
                  </div>
                  <div class="clients-logo-img css3" style="left: 32%;" title="We Master In CSS3">
                     <!-- <img src="assets\bg\css3.png" alt="We Master In CSS3"style="width: 90px;height: 108px;"> -->
                  </div>
                  <div class="clients-logo-img agile" title="We Master In Agile Management">
                     <!-- <img src="assets\bg\agile.png" alt="We Master In Agile Management"style="width: 150px;height: 108px;"> -->
                  </div>
                  <div class="clients-logo-img zoho" title="We Master In ZOHO CRM and different ZOHO products implementations & Management" style="left:14%;">
                     <!-- <img src="assets\bg\zoho.png" alt="We Master In ZOHO CRM and different ZOHO products implementations & Management"> -->
                  </div>
                  <div class="clients-logo-img msdax" title="We Master In MicroSoft Dynamix" style="left:14%;">
                     <!-- <img src="assets\bg\msdax.png" alt="We Master In MicroSoft Dynamix"style="width: 215px;height: 108px;"> -->
                  </div>
                  <div class="clients-logo-img devops" title="We Master In Devops" style="left:2%;">
                     <!-- <img src="assets\bg\devops.png" alt="We Master In Devops"style="width: 240px;height: 110px;"> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Values Start -->
<section id="services" class="services-section section-space-padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="section-title">
               <h2>Our Values</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2 col-sm-6 col-boot-xs-fix">
            <div class="trust-card card services-detail">
               <i class="fa fa-handshake-o" aria-hidden="true"></i>
               <h2 class="val-font">Trust </h2>
               <hr class="hr-margin-correct hr-color1">
               <p>We believe that trust and responsible actions are the most important attributes in building a relationship - be it with our customers or our team and we choose our team and in turn our Clients choose us on this non-negotiable credo.</p>
            </div>
         </div>
         <div class="col-md-2 col-sm-5 col-boot-xs-fix">
            <div class="mRespect-card card services-detail">
               <i class="fa fa-balance-scale" aria-hidden="true"></i>
               <h2 class="val-font">Mutual Respect</h2>
               <hr class="hr-margin-correct2 hr-color2">
               <p>We respect people’s background, achievements, strengths and abilities and align our effort and offering to complement them and also augment these where necessary.</p>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 col-boot-xs-fix">
            <div class="centric-card card services-detail">
               <i class="fa fa-bullseye" aria-hidden="true"></i>
               <h2 class="val-font">Customer Centric</h2>
               <hr class="hr-margin-correct2 hr-color3">
               <p>Our customers become our partners on this journey and we go to the extent of providing a SOLUTION or an INSIGHT even for the most mundane of requests, if it matters to our partners.</p>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 col-boot-xs-fix">
            <div class="teamwork-card card services-detail">
               <i class="fa fa-users" aria-hidden="true"></i>
               <h2 class="val-font">Teamwork</h2>
               <hr class="hr-margin-correct fix-hr-sm hr-color2">
               <p>Together Everyone Achieves More - we believe in helping each other to achieve the goals.</p>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 col-boot-xs-fix">
            <div class="learning-card card services-detail">
               <i class="fa fa-graduation-cap" aria-hidden="true"></i>
               <h2 class="val-font">Continuous Learning</h2>
               <hr class="hr-margin-correct2 hr-color1">
               <p>We believe in investing on ourselves - be it personal development or professional. Our practice of continuous learning is ingrained in our culture wherein employees dedicate 10% of their time to self learning.</p>
            </div>
         </div>
      </div>
   </div>
</section>
