#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #031625
}
.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width .5s ease;
  transition: width .5s ease
}
.tl-item:after, .tl-item:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.tl-item:after {
  background: rgba(3, 22, 37, .85);
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease
}
.tl-item:before {
  background: -webkit-linear-gradient(top, transparent 0, #000 75%);
  background: linear-gradient(to bottom, transparent 0, #000 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
  transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease
}
.tl-item:hover {
  width: 30%
}
.tl-item:hover:after {
  opacity: 0
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
  transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease .25s;
  transition: opacity 1s ease, -webkit-transform 1s ease .25s;
  transition: opacity 1s ease, transform 1s ease .25s;
  transition: opacity 1s ease, transform 1s ease .25s, -webkit-transform 1s ease .25s
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .75s ease .5s;
  transition: all .75s ease .5s
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}
.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: left;
  width: 100%;
  top: 30%;
  opacity: 0;
  font-family: Raleway, sans-serif;
  font-weight: 600
}
.tl-bg, .tl-year {
  position: absolute
}
.tl-content h1 {
  font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: 400
}
.tl-year {
  top: 18%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff
}
.tl-year p {
  font-family: Orbitron, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 2;
  text-align: center
}
.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter .5s ease;
  transition: -webkit-filter .5s ease;
  transition: filter .5s ease;
  transition: filter .5s ease, -webkit-filter .5s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}
@media (min-width:409px) and (max-width:543px) {
  .tl-item:hover {
    width: 80%
  }
  .tl-year1 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    left: -97%;
    top: 44%;
    width: 300%
  }
  .tl-year2, .tl-year2pm {
    position: absolute;
    left: 50%;
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
  }
  .tl-year2 {
    top: 18%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 55%
  }
  .tl-year2pm {
    top: 11%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 92%
  }
}
@media only screen and (max-width:408px) {
  .tl-item:hover {
    width: 160%
  }
  .tl-year1 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    left: -89%;
    top: 44%;
    width: 266%
  }
  .tl-year2, .tl-year2pm {
    position: absolute;
    top: 11%;
    left: 50%;
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
  }
  .tl-year2 {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 55%
  }
  .tl-year2pm {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 92%
  }
  .tl-year2pm-sftlt, .tl-year2pm-sftrt {
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    left: -125%
  }
  .tl-year p {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1px
  }
  .tl-content p {
    font-size: .85em
  }
  .tl-content .media-408 {
    font-size: .9em;
    padding: 10px 18px 10px 5px
  }
  .tl-content .hvr-icon-wobble-horizontal:before {
    right: 0;
    left: 7.15em
  }
  .tl-content {
    top: 19%
  }
}
@media (min-width:544px) and (max-width:718px) {
  .tl-content .media-408 {
    padding-left: 10px;
    padding-right: 22px;
    font-size: 14px
  }
  .tl-content .hvr-icon-wobble-horizontal:before {
    left: 7.25em
  }
}
@media only screen and (max-width:310px) {
  .tl-year p {
    font-size: 1rem;
    font-weight: 900
  }
}
@media only screen and (min-width:991px) {
  .tl-year p {
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    font-size: 1.6rem
  }
}
