<!--The content below is only a placeholder and can be replaced.-->
<header id="home">
   <div class="header-top-area navigation-background">
      <div class="container">
         <div class="navigation-menu">
            <div class="navbar">
               <div class="navbar-header">
                  <button type="button" style=" margin-right: 15px;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" routerLink="">
                     <h1>
                         <img src="assets\favicon\logo.png" style="max-width:89px;" alt="Digisquire logo"></h1>
                  </a>
               </div>
               <div class="navbar-collapse collapse custom-hover custom-hover-effects">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="active">
                        <a class="smoth-scroll" routerLink="">
                           Home
                           <div class="ripple-wrapper"></div>
                        </a>
                     </li>
                     <li><a routerLink="about-us">Know us more</a>
                     </li>
                     <li><a href="careers.html">Careers</a>
                     </li>
                     <li><a href="contact.html">Contact us</a>
                     </li>
                     <li><a href="learnNshare.html">Learn & Share</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<router-outlet></router-outlet>

<footer class="footer-section">
   <div class="container">
      <div class="row" style="padding-bottom: 0.3em;">
         <div class="col-md-4 text-left">
            <ul class="footernav-submenu mob-ul-pad">
               <li>
                  <a routerLink="about-us">Know Us More</a>
               </li>
               <li>
                  <a href="careers.html">Careers</a>
               </li>
               <li>
                  <a href="contact.html">Contact Us</a>
               </li>
               <li>
                  <a href="learnNshare.html">Learn & Share</a>
               </li>
            </ul>
         </div>
         <div class="col-md-5 text-center">
            <p>&copy;Copyright 2017 <span style="color:#e4681f;font-weight: 600;">DigiSquire Innovations Pvt. Ltd.</span> </p>
         </div>
         <div class="col-md-3 digisquire-credit text-right">
            <p>Design By <a routerLink="" target="_blank" title="DigiSquire">DigiSquire</a></p>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12 set-social-icons">
            <ul class="social-icon">
               <li><a href="https://www.facebook.com/DigiSquire/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/company/13370130/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</footer>
