@import url('https://fonts.googleapis.com/css?family=Orbitron|Poppins|Raleway');
@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "~assets/css/easy-responsive-tabs.css";
@import "~assets/css/banner.css";
body {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1px;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}
html{
	height: 100%
}
::selection {
	background-color: #3297fd;
	color: #ffffff;
}
::-moz-selection {
	background-color: #3297fd;
	color: #ffffff;
}
h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

a:hover {
	color: #fff;
	text-decoration: none;
	outline:none;
  outline-offset: 0;
}

a:focus {
	outline:none;
  outline-offset: 0;
	text-decoration: none;
}
a {
	 -webkit-transition: 300ms;
	 -moz-transition: 300ms;
	 -o-transition: 300ms;
	 transition: 300ms;
 }
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;

}

.container {
	padding-right: 11px;
	padding-left: 13px;
}


/* Preloader */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #ffffff;
	z-index: 99999;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

body.loaded #preloader {
	opacity: 0;
	visibility: hidden;
}

.loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e4681f;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #ff0000;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

.loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #5cb85c;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/*home container*/
@media (max-width: 767px) {
	#home .container {
		padding-right: 0px;
		padding-left: 13px;
		padding-top: 3px;
		padding-bottom: 16px;
	}
	.row {
		margin-right: 0px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#home .container {
		padding-bottom: 1px;
	}
}

@media (min-width: 992px) {
	#home .container {
		padding-bottom: 5px;
	}
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	33.3% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes hvr-icon-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	33.3% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.hvr-icon-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 2.2em;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal:before {
	content: "\f061";
	position: absolute;
	right: 1em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover:before,
.hvr-icon-wobble-horizontal:focus:before,
.hvr-icon-wobble-horizontal:active:before {
	-webkit-animation-name: hvr-icon-wobble-horizontal;
	animation-name: hvr-icon-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
a.read-w3ls {
	text-decoration: none;
	color: #fff;
	padding: 10px 46px 10px 25px;
	background: #000000;
	margin-top: 1.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-size: 16px;
}

a.read-w3ls:hover {
	background: #bc0023;
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.header-top-area {
position: fixed;
left: 0;
top: 0;
width: 100%;
z-index: 9999;
-webkit-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;
}
.navigation-menu .navbar-nav li a {
color: #333;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1px;
padding: 30px 15px;
-webkit-transition: .3s;
transition: .3s;
font-weight: 600;
}
.navigation-menu .navbar-nav li a:hover {
background: none;
color: #555;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.nav li a:focus,
.nav li a:hover {
background: none;
color: #555;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.navbar {
margin: 0;
}
.navigation-background {
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
background: #fff;
box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.48);
}
.navigation-background .navigation-menu .navbar-nav li a {
color: #000;
padding: 20px 15px;
-webkit-transition: .3s;
transition: .3s;
}
.navigation-background .navigation-menu .navbar-nav li a:hover {
color: #555;
}
.navigation-menu .navbar-nav li a {
color: #333;
text-transform: uppercase;
font-size: 12px;
padding: 30px 15px;
-webkit-transition: .3s;
transition: .3s;
font-weight: 600;
}
#home {
margin-bottom: 0;
padding: 4em 0 0 0;
}
#home .navbar {
background: #fff;
border: 0;
margin-bottom: 0;
}
#home .navbar-toggle {
margin-top: 20px;
}
#home .navbar-brand {
padding: 0;
margin-left: 0;
}
#home .navbar-brand h1 {
padding: 2px 0 0 0;
margin: 0;
}
#home .navbar-nav.navbar-right>li:last-child {
margin-right: 20px;
}
#home .navbar-nav.navbar-right>li a {
color: #000;
font-size: 12px;
text-transform: uppercase;
font-weight: 600;
font-family: 'Poppins', sans-serif;
}
#home .navbar-nav.navbar-right li>a:hover {
background-color: inherit;
border: 0;
color: #00aeef;
}
#home .navigation-background .navigation-menu .navbar-nav li a:hover {
color: #555;
}
.custom-hover-effects a {
padding: 0 0 12px;
}
.custom-hover-effects a::after {
background-color: #e4681f;
content: "";
height: 3px;
width: 100%;
position: absolute;
bottom: -12px;
left: 0;
opacity: 0;
transition: opacity 300ms ease, bottom 300ms ease;
}
.custom-hover-effects a:hover::after {
opacity: 1;
bottom: 0;
}
.footer-section {
background: #000;
color: #999;
padding-top: 45px;
font-family: 'Poppins', sans-serif;
}
.footer-section p {
font-size: 14px;
}
.footernav-submenu {
font-size: 0.8em;
list-style: none;
}
.footer-section a {
color: #999;
}
.footer-section a:hover {
color: #fff;
}
.set-social-icons {
margin-bottom: 0;
margin-top: 0px !important;
border-top: 1px solid #333;
padding-top: 1em;
}
.social-icon {
list-style: none;
padding-left: 0;
margin: 0;
text-align: center;
}
.social-icon:before,
.social-icon:after {
content: " ";
display: table;
}
.social-icon:after {
clear: both;
}
.social-icon li {
display: inline-block;
margin: 0px 4px;
}
.social-icon li a {
display: block;
width: 40px;
text-align: center;
font-size: 21px;
color: #fff;
transition: all 0.3s ease-in-out;
}
.social-icon li a .fa {
line-height: inherit;
}
.social-icon li a:hover .fa-facebook {
color: #0884d5;
}
.social-icon li a:hover .fa-linkedin {
color: #006DC0;
}
.digisquire-credit a {
color: #e4681f;
font-weight: 600;
}
@media (min-width: 768px){
.navbar-right {
padding-top: 14px;
}
}
@media only screen and (max-width: 767px){
.navigation-background .navigation-menu .navbar-nav li a {
padding: 11px 15px;
}
}
@media (min-width: 768px) {
#home .navbar-brand {
padding-top: 1px;
margin-left: 2px;
}
}
@media (max-width: 767px) {
#home .navbar-brand {
padding-left: 2px;
}
}
@media only screen and (max-width: 768px) {
#home .navbar-nav.navbar-right li {
padding: 3px;
}
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
.navigation-menu .navbar-nav li a {
padding: 30px 11px;
font-size: 12px;
}
}
@media only screen and (max-width: 991px) {
.footer-section p {
text-align: center !important;
}
.footernav-submenu {
text-align: center;
}
}
@media only screen and (max-width: 767px) {
.navbar-toggle .icon-bar {
background: #333;
}
.navigation-background .navbar-toggle .icon-bar {
background: #e4681f;
}
.navbar-toggle {
margin-right: 0px;
margin-top: -30px;
}
.navbar {
min-height: 0px;
}
.navigation-menu .navbar-nav li a {
padding: 11px 15px;
}
.navigation-menu .navbar-nav li a:hover {
color: #24b662;
}
.navigation-background .navigation-menu .navbar-nav li a:hover {
color: #555;
}
.navigation-background .navigation-menu .navbar-nav li a {
padding: 11px 15px;
}
.navbar-toggle {
margin-top: -30px;
}
}
@media only screen and (max-width: 555px) {
.social-icon li a {
width: 40px;
height: 40px;
line-height: 40px;
font-size: 20px;
}
}
