<section id="survey-cards">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6">
            <article class="team-mate box-mrgn-btm" style="box-shadow: 0px 5px 4px 1px rgba(90, 91, 95, 0.83);">
               <div class="member-photo" style="padding: 1em;background: #000;">
                  <img class="img-responsive" src="assets\bg\digitalist.svg" alt="Digitalist survey depicting lack of digital skills" style="height: 45px;">
               </div>
               <div class="member-info box-pad set-min-height">
                  <p>The hard reality is that a lack of
                     digital skills is the number
                     one barrier organisations face for
                     digital transformation.
                  </p>
                  <a rel="nofollow" href="http://www.digitalistmag.com/future-of-work/2017/09/26/dont-let-skills-gap-jeopardize-digital-transformation-map-out-skill-development-plan-05365792" target="_blank" class="pos-read-lnk">
                     <div class="read read1">
                        Read Full Article
                     </div>
                  </a>
               </div>
            </article>
         </div>
         <div class="col-md-3 col-sm-6">
            <article class="team-mate box-mrgn-btm" style="box-shadow: 0px 5px 4px 1px rgba(90, 91, 95, 0.83);">
               <div class="member-photo" style="padding-top: 0.2em;background: #ed1c24;height: 77px;" >
                  <img class="img-responsive" src="assets\bg\cio_logo.svg" alt="CIO survey indicating UI/UX developers as top skill needed" style="height: 75px;">
               </div>
               <div class="member-info box-pad set-min-height" style="color: #333;">
                  <p>UI/UX designers and
                     developers are one of the TOP 10 skills required for
                     Digital Transformation.
                  </p>
                  <a rel="nofollow" href="https://www.cio.com/article/3164125/hiring/10-it-skills-that-employers-need-in-2017.html#slide6" target="_blank" class="pos-read-lnk">
                     <div class="read read2">
                        Read Full Article
                     </div>
                  </a>
               </div>
            </article>
         </div>
         <div class="col-md-3 col-sm-6">
            <article class="team-mate box-mrgn-btm" style="box-shadow: 0px 5px 4px 1px rgba(90, 91, 95, 0.83);">
               <div class="member-photo">
                  <img class="img-responsive" src="assets\bg\logo_cc.svg" alt="Capgemini survey indicating large companies are missing digital skills" style="height: 77px;border: 1px solid rgba(110, 4, 56, 0.38);border-bottom: none;padding-left: 0.5em;padding-right: 0.5em;">
               </div>
               <div class="member-info box-pad set-min-height" style="border: 1px solid  rgba(110, 4, 56, 0.38);">
                  <p>77%
                     of companies consider
                     missing digital skills as
                     the key hurdle to their
                     Digital Transformation.
                  </p>
                  <a rel="nofollow" href="https://www.capgemini.com/wp-content/uploads/2017/07/the_digital_talent_gap27-09_0.pdf" target="_blank" class="pos-read-lnk">
                     <div class="read read3">
                        Read Full Article
                     </div>
                  </a>
               </div>
            </article>
         </div>
         <div class="col-md-3 col-sm-6">
            <article class="team-mate box-mrgn-btm" style="box-shadow: 0px 5px 4px 1px rgba(90, 91, 95, 0.83);">
               <div class="member-photo">
                  <img class="img-responsive" src="assets\bg\deloitte.svg" alt="Deloitte survey insisting on enhancing customer experience through digital transformation" style="height: 77px;background: #000;
                     padding: 0.5em;">
               </div>
               <div class="member-info box-pad">
                  <p>93%of those with
                     digital strategy agree or strongly agree
                     that their objective of their digital strategy
                     is to enhance customer
                     experience and engagement.
                  </p>
                  <a rel="nofollow" href="https://dupress.deloitte.com/dup-us-en/industry/financial-services/digital-transformation-in-financial-services.html" target="_blank" class="pos-read-lnk">
                     <div class="read read4">
                        Read Full Article
                     </div>
                  </a>
               </div>
            </article>
         </div>
      </div>
      <div class="row box-mrgn-btm" style="margin-top: 1.2em;">
         <div class="col-md-3 col-sm-4">
            <div class="member-photo">
               <img class="img-responsive" src="assets\bg\microsoftr.png" alt="Microsoft research on skill acquisition with service providers" style="padding: 0.5em;">
            </div>
         </div>
         <div class="col-md-9 col-sm-8" style="margin-top:0.6em;">
            <div class="member-info   ms-survey-content" style="box-shadow: 0px 1px 4px 1px rgba(90, 91, 95, 0.83);padding-top: 11px;">
               <p>50%
                  of organisations prioritise
                  working with Service
                  Providers for Skills acquisition.
               </p>
               <a rel="nofollow" href="http://partner-l1.microsoft.com/rs/090-ADL-253/images/2017%20Microsoft%20Hosting%20and%20Cloud%20Study.pdf" target="_blank" class="pos-read-lnk pos-read-lnk-ms">
                  <div class="read read5">
                     Read Full Article
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
<a class="smoth-scroll scroll" href="#features"></a>
<!-- new section -->
<section id="features" style="padding-top: 3em;">
   <div class="container">
      <div class="row">
         <div class="section-title col-sm-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
            <h1>Kickstart your digital transformation journey with <span class="ds-title">digiSquire</span></h1>
         </div>
      </div>
      <div class="row">
         <div class="single-features">
            <div class="panel-img col-sm-5 wow fadeInLeft" data-wow-duration="800ms" data-wow-delay="400ms">
               <img src="assets/bg/part-5.jpg" class="img-responsive img-scale" alt="DigiSquire as prominent Partners in Digital Transformation">
            </div>
            <div class=" panel-text col-sm-7 wow fadeInRight" data-wow-duration="800ms" data-wow-delay="300ms">
               <h2>Partners in Digital Transformation</h2>
               <P style="font-family: 'Raleway',sans-serif;text-align:justify;font-size: 1.1em">Bridge your gaps in the Digital Transformation journey through our expertise. We have extensive experience in executing Agile projects and are experts in Front End technologies. We partner with companies implementing digital transformation program for themselves or their clients. We are also building skills in niche technology areas of Microsoft Dynamics and deep expertise in DevOps.</P>
               <a href="knowUsMore.html#partnership" class="hvr-icon-wobble-horizontal read-w3ls">Know More</a>
            </div>
         </div>
         <div class="single-features">
            <div class=" panel-text col-sm-7 align-right wow fadeInLeft" data-wow-duration="800ms" data-wow-delay="400ms">
               <h2>Digital Transformation for Companies</h2>
               <P style="font-family: 'Raleway',sans-serif;text-align:justify;font-size: 1.1em">Today if your systems and processes are not digitised you are probably having a lot of operational slack. It's time to catapult your business to a higher league. We cater to hospitality, real estate & hospitals to improve operational efficiency and thereby increasing their bottomline.</P>
               <a href="contact.html" class="hvr-icon-wobble-horizontal read-w3ls">Talk To Us</a>
            </div>
            <div class="panel-img col-sm-5 wow fadeInRight" data-wow-duration="800ms" data-wow-delay="300ms">
               <img src="assets/bg/part-4.jpg" class="img-responsive img-scale-2" alt="DigiSquire to catapult your business to a higher league using digital transformation expertise">
            </div>
         </div>
      </div>
   </div>
</section>
